@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="title-page">
        <h1>Welcome in RistoWeb</h1>
    </div>
    <div class="content-bg">
        <article>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt euismod rutrum. Aliquam erat volutpat. Duis laoreet, libero sit amet egestas scelerisque, ligula odio fringilla tortor, in convallis mi elit tristique velit. Nulla sit amet tortor sed risus rhoncus gravida. Mauris urna nulla, laoreet efficitur ultricies id, aliquet a nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris quis lobortis ipsum.
            <img class="home-img" src="~/images/Location/Outside_2.jpg" />
        </article>
    </div>
    <div class="content-bg">
        <article>
            <img class="home-img" src="~/images/Location/view.jpg" />
            Proin facilisis lacinia gravida. Morbi eu gravida enim. Cras bibendum nibh at arcu egestas, ac condimentum felis tristique. Fusce commodo urna quis vulputate posuere. Nam congue consectetur nisi, at fermentum justo posuere at. In hac habitasse platea dictumst. Quisque commodo tellus a orci tincidunt dapibus. In interdum pellentesque turpis non laoreet. Nulla facilisi. Maecenas posuere, mauris vitae faucibus consectetur, neque arcu tristique leo, a commodo velit diam sit amet quam. Mauris a mattis felis, non ullamcorper nisi.
        </article>
    </div>
    <div class="content-bg">
        <article>
            Nunc porttitor ex justo, tincidunt lacinia felis dapibus in. Nulla semper erat sit amet justo pharetra molestie. Mauris efficitur massa quis nisi ultricies fermentum. Suspendisse scelerisque sagittis nibh, in volutpat lorem varius et. Donec consequat sapien ut augue varius, vel egestas metus vestibulum. Etiam tincidunt nisi et sapien tincidunt, eget luctus mauris pulvinar. Praesent nulla nulla, gravida at scelerisque et, aliquam sit amet arcu.
            <img class="home-img" src="~/images/Location/Arch.jpg" />
        </article>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/home.js"></script>
