@{
    ViewData["Title"] = "Location";
}
<div class="text-center container mb-5">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5742.656597292757!2d8.145861377056669!3d43.973259854229944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d25d43f9d76afb%3A0xf2f372e206ebe5c3!2sStr.%20Castello%2C%2034%2C%2017051%20Andora%20SV!5e0!3m2!1sit!2sit!4v1626369042545!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
