@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1 class="title-page">@ViewData["Title"]</h1>
    <div id="privacy">
        <p style="text-align: justify">
            In fermentum velit a dolor elementum, nec volutpat dui tincidunt. Nam non nisl blandit, pretium lorem eget, fringilla nibh. Praesent facilisis aliquam nulla non efficitur. Suspendisse non lorem vitae magna pharetra tempus vel ut dui. Aenean ligula tortor, suscipit vitae tincidunt ac, lacinia eget mi. Mauris condimentum eget ante ut efficitur. Donec pellentesque quam ut turpis laoreet bibendum. Integer posuere neque augue, quis porttitor velit vehicula at. In hendrerit quis lacus venenatis aliquet. Aenean dolor turpis, malesuada ut bibendum quis, ornare a tellus. Proin lorem arcu, fermentum eget euismod a, faucibus sit amet libero. Suspendisse vitae ultricies libero. Praesent sit amet egestas ipsum. Nullam vitae facilisis nibh. Curabitur massa erat, convallis vitae faucibus eu, semper id sapien. Curabitur feugiat, lorem at aliquet rhoncus, purus magna tempor ligula, ut varius ex ex in augue. Morbi elit ex, vestibulum ut auctor eget, aliquet sed turpis. Cras gravida sem nec metus blandit, vitae feugiat erat dictum. Cras eu quam eros. Quisque in lorem ut risus maximus luctus. Donec ac mauris cursus tortor malesuada feugiat sed et purus. Nulla facilisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque sit amet sagittis elit. Etiam ut leo vitae elit lacinia dapibus in sit amet tellus. Ut lobortis posuere nisi vel lobortis. Vivamus ut ligula non libero fringilla hendrerit. Nam eu ultrices erat. Maecenas sit amet aliquet est, sit amet ultrices ipsum. Sed blandit ex rutrum libero pellentesque, a feugiat sem pulvinar. Quisque vestibulum, lectus ac tempor blandit, orci nibh pellentesque mauris, vel facilisis mauris ex molestie quam.
        </p>
    </div>
</div>

