@model bool
@{
    ViewData["Title"] = "Sign in";
}
<div class="text-center">
    <div class="title-page">
        <h1>Enter your data to login</h1>
    </div>
    <form class="content-bg" method="get" id="signIn">
        <div class="text-center">
            <div class="row mb-3 mt-5">
                <div class="col-sm-3" style="text-align: left">
                    <label class="col-sm-2 col-form-label">Email</label>
                </div>
                <div class="col-sm mr-2">
                    <input name="email" type="email" class="form-control">
                </div>
            </div>
            <div class="row mb-3 mt-5">
                <div class="col-sm-3" style="text-align: left">
                    <label class="col-sm-2 col-form-label">Password</label>
                </div>
                <div class="col-sm mr-2">
                    <input name="password" type="password" class="form-control">
                </div>
            </div>
            @if (!Model)
            {
                <div class="col-sm">
                    <h6 class="text-center" style="color: red">Missing data or entered wrong email or password</h6>
                </div>
            }
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>